<h1 matDialogTitle>Promon</h1>

<mat-dialog-content>
  <div>
    <h2>Overview</h2>
    Promon is a web-based project monitoring solution that facilitates monitoring of an organization's
  </div>
  <mat-divider></mat-divider>
  <div>
    <h2>Features</h2>
    <mat-list mini>
      <mat-list-item><mat-icon>verified_user</mat-icon>&nbsp; Access control levels</mat-list-item>
      <mat-list-item><mat-icon>dashboard</mat-icon>&nbsp; Comprehensive dashboard</mat-list-item>
      <mat-list-item><mat-icon>group</mat-icon>&nbsp; Admin user management</mat-list-item>
      <mat-list-item><mat-icon>pie_chart</mat-icon>&nbsp; Project analytics</mat-list-item>
    </mat-list>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-flat-button color="warn" matDialogClose>Close</button>
    <span fxFlex></span>
    <button mat-flat-button color="primary">View demo</button>
</mat-dialog-actions>
