<footer class="bg-gray-900 text-gray-300 py-12 md:py-16 border-t-4 border-red-700">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
  
      <div class="grid grid-cols-1 gap-8 md:grid-cols-4 lg:gap-12">
  
        <div class="col-span-full md:col-span-1">
          <div class="flex items-center mb-4">
            <img src="/logo-white.png" alt="Ladanski Solutions Logo" class="h-8 md:h-10 opacity-90" />
          </div>
          <p class="text-sm mb-4">
            Your Partner in Digital Transformation and Engineering Excellence.
          </p>
  
          <div class="flex space-x-3 mt-4">
            <a href="#" target="_blank" class="p-2 rounded-full text-gray-400 hover:text-red-600 transition-colors duration-200" title="LinkedIn">
              <svg class="h-5 w-5 fill-current" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16 8a6 6 0 0 0-6-6h-2a6 6 0 0 0-6 6v10h4v-6a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v6h4V8zM4 22h-4v-10h4v10z"></path>
              </svg>
            </a>
            <a href="#" target="_blank" class="p-2 rounded-full text-gray-400 hover:text-red-600 transition-colors duration-200" title="Twitter">
              <svg class="h-5 w-5 fill-current" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M22 4.02C21.2 4.4 20.3 4.6 19.3 4.7c1-.6 1.7-1.5 2-2.6-.9.5-2 1-3.1 1.2-.9-.9-2.2-1.5-3.6-1.5-3.6 0-6.5 2.9-6.5 6.5 0 .5.1 1 .2 1.5-5.4-.3-10.2-2.8-13.4-6.7-.6 1.1-.9 2.4-.9 3.8 0 2.4 1.2 4.5 3 5.7-.7 0-1.4-.2-2-.5v.1c0 3.1 2.2 5.7 5.1 6.3-.5.1-1 .2-1.5.2-.4 0-.7 0-1.1-.1.8 2.5 3.2 4.3 6 4.4-2.2 1.7-4.9 2.7-7.8 2.7-.5 0-1 0-1.5-.1C3.2 20.9 6.2 22 9.5 22c11.4 0 17.6-9.5 17.6-17.7 0-.3 0-.6-.1-.9.8-.6 1.6-1.3 2.2-2.1z"></path>
              </svg>
            </a>
            <a href="#" target="_blank" class="p-2 rounded-full text-gray-400 hover:text-red-600 transition-colors duration-200" title="Facebook">
              <svg class="h-5 w-5 fill-current" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3V2z"></path>
              </svg>
            </a>
          </div>
        </div>
  
        <div class="md:col-span-1 sm:col-span-1">
          <h3 class="text-lg font-semibold text-white mb-4 border-b-2 border-red-700 w-fit pb-1">Quick Links</h3>
          <ul class="space-y-2">
            <li>
              <a routerLink="/" class="text-sm text-gray-400 hover:text-red-600 transition-colors duration-200">Home</a>
            </li>
            <li>
              <a routerLink="blog" class="text-sm text-gray-400 hover:text-red-600 transition-colors duration-200">Blog & Insights</a>
            </li>
            <li>
              <a routerLink="about" class="text-sm text-gray-400 hover:text-red-600 transition-colors duration-200">About Us</a>
            </li>
          </ul>
        </div>
  
        <div class="md:col-span-1 sm:col-span-1">
          <h3 class="text-lg font-semibold text-white mb-4 border-b-2 border-red-700 w-fit pb-1">Services</h3>
          <ul class="space-y-2">
            <li>
              <a routerLink="services/development" class="text-sm text-gray-400 hover:text-red-600 transition-colors duration-200">Custom Development</a>
            </li>
            <li>
              <a routerLink="services/consulting" class="text-sm text-gray-400 hover:text-red-600 transition-colors duration-200">IT Consulting</a>
            </li>
            <li>
              <a routerLink="" class="text-sm text-gray-400 hover:text-red-600 transition-colors duration-200">Training</a>
            </li>
          </ul>
        </div>
  
        <div class="md:col-span-1 sm:col-span-1">
          <h3 class="text-lg font-semibold text-white mb-4 border-b-2 border-red-700 w-fit pb-1">Get In Touch</h3>
          <div class="space-y-3 text-sm">
            <p class="flex items-center">
              <svg class="h-5 w-5 mr-2 text-red-600 fill-current" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3 8L12 14L21 8M3 17V7C3 5.89543 3.89543 5 5 5H19C20.1046 5 21 5.89543 21 7V17C21 18.1046 20.1046 19 19 19H5C3.89543 19 3 18.1046 3 17Z"></path>
              </svg>
              <a href="mailto:contact@ladanski.com.ng" class="hover:text-red-600">contact&#x40;ladanski.com.ng</a>
            </p>
            <p class="flex items-center">
              <svg class="h-5 w-5 mr-2 text-red-600 fill-current" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M22 16.92V19C22 20.1046 21.1046 21 20 21C19.8552 21 19.7099 20.9854 19.5638 20.9577L16.2415 20.2974C15.0343 20.0631 13.9118 20.8988 13.684 22.0991L13.1118 23.9572C12.9158 25.0118 13.7317 26.0463 14.8016 26.2458L18.421 26.9159C20.9168 27.3888 23 25.3276 23 22.8091V16.92Z"></path>
              </svg>
              <a href="tel:+2348134852178" class="hover:text-red-600">+234 8134 8521 78</a>
            </p>
            <p class="flex items-start">
              <svg class="h-5 w-5 mr-2 mt-1 text-red-600 fill-current" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 21.5C8 21.5 5 19 5 13.5C5 8 12 3 12 3C12 3 19 8 19 13.5C19 19 16 21.5 12 21.5ZM12 16C13.6569 16 15 14.6569 15 13C15 11.3431 13.6569 10 12 10C10.3431 10 9 11.3431 9 13C9 14.6569 10.3431 16 12 16Z"></path>
              </svg>
              <span>
                Kaduna, Nigeria
              </span>
            </p>
          </div>
        </div>
      </div>
  
      <hr class="my-8 border-gray-700" />
  
      <div class="text-center text-sm text-gray-500">
        &copy; 2025 Ladanski Solutions. All Rights Reserved.
      </div>
  
    </div>
  </footer>