<h1 mat-dialog-title>Contact me.</h1>

<mat-dialog-content>
  <div fxLayout="row">
    <div id="passport" fxFlexAlign="stretch">

    </div>
    <div fxLayout="column" fxFlexAlign="auto" fxLayoutGap="10px">
      <div fxLayout="row">
        <mat-icon color="accent">person</mat-icon><span fxFlex="20px"></span>Abdulaziz Ladan
      </div>
      <div fxLayout="row">
        <mat-icon color="accent">email</mat-icon><span fxFlex="20px"></span>abdulazizladan@gmail.com
      </div>
      <div fxLayout="row">
        <mat-icon color="accent">phone</mat-icon><span fxFlex="20px"></span>+234 8099 7646 93
      </div>
    </div>
  </div>

</mat-dialog-content>
